*{
	margin:0;
	padding:0;
}

body{
	background-color: #CCCCFF;
}

#canvasWrap {
	margin:auto;
	width:800px;
}

#canvas {
	display:block;
	margin:auto;
	width:800px;
	height:600px;
	border-width: 2px;
	border-style: solid;
    border-color: #666699;
    background-image: url("../images/mute-city-bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#chat{
	position: absolute;
	display: none;
	opacity: 0.8;
	background-color: black;
	border:none;
	height:600px;
	width:800px;
	padding-top: 18px;
	padding-bottom: 15px;
}

#chat .row:nth-of-type(1){
	height:530px;
	padding-bottom: 15px;
}

#msgBox{
	border:none;
	height:100%;
}

#usrBox{
	border:none;
	height:100%;
}

#btnBox{
	border:none;
}

#txtBox{
	border:none;
}

#slider{
	margin-bottom: 15px;
}