*{
	margin:0;
	padding:0;
}

body{
	padding-top: 40px;
	background-color: #99FFCC;
}

#error{
	color:red;
}

.form-login{
	width:400px;
}

#msgBox{
	height:400px;
	border: 2px solid black;
	overflow:auto;
}

#usrBox{
	height:400px;
	border: 2px solid blue;
	overflow:auto;
}

#txtBox{
	height:40px;
	border: 2px solid green;
}

#btnBox{
	height:40px;
	border: 2px solid red;
}

#createAcc{
	padding-top: 10px;
}

#createAccWrap{
	display:none;
}

.themeBtn{
	border-style: solid;
    border-width: medium;
    border-radius: 100%;
    border-color: #7D7D80;
    height:100px;
    width:100px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#fzero img{
	margin-top: 15px;
}

#pow img{
	margin-top: 22px;
	margin-left: 7px;
}

#sax img{
	margin-top: 15px;
}

.container{
	border: 2px solid #7D7D80;
	border-radius: 10px;
	background-color: white;
}

input[type=radio] {
    display:none; 
    margin:10px;
}

#hide{
	float:right;
}