@font-face {
    font-family: pressStartK;
    src: url("../fonts/prstartk.ttf");
}

*{
	font-family: pressStartK;
	font-size:12px;
}

body{
	background-color: black;
	overflow: hidden;
}

.particle{
	position:absolute;
	z-index: 1;
}

#chat{
	background-color: transparent;
	border-color: #EEEFFF;
	padding-top: 18px;
	padding-bottom: 15px;
}

#chat .row:nth-of-type(1){
	height:600px;
	padding-bottom: 15px;
}

#msgBox{
	border:none;
	height:100%;
}

#usrBox{
	border:none;
	height:100%;
}

#btnBox{
	border:none;
}

#txtBox{
	border:none;
}

#inputText{
	background-color: transparent;
	color:white;
	border-width: 2px;
}

#send{
	background-color: transparent;
	color:white;
	background-image: url("../images/brick.png");
}

#logout{
	background-color: transparent;
	color:white;
	background-image: url("../images/brick.png");
}

.usr-bg{
	background-image: url("../images/pipe.png");
	background-repeat: no-repeat;
	background-position: right center;
	text-align: right;
	text-indent: 25px;
	direction: rtl;
	background-color: black;
	color:white;
	border:none;
}

.msg-bg{
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	background-color: black;
	color:white;
	border:none;
}

.turtle-green{
	background-image: url("../images/turtle-green.png");
}

.turtle-red{
	background-image: url("../images/turtle-red.png");
}

.turtle-purple{
	background-image: url("../images/turtle-purple.png");
}

.crab-green{
	background-image: url("../images/crab-green.png");
}

.crab-red{
	background-image: url("../images/crab-red.png");
}

.crab-blue {
	background-image: url("../images/crab-blue.png");
}

.coin{
	background-image: url("../images/coin.png");
}

.fighterfly{
	background-image: url("../images/fighterfly.png");
}

.slipice{
	background-image: url("../images/slipice.png");
}