/*Pour chrome il y a du flicker dans le background lors des transformations CSS3. J'ai rajouté cette règle d'après cette page web https://nathanhoad.net/how-to-stop-css-animation-flicker-in-webkit
Il a fallu mettre la regle pour tous les éléments*/
* {
	-webkit-transform-style: preserve-3d;
}

body{
	height:100%;
	background-repeat:no-repeat !important;
	background-attachment: fixed !important;
	overflow: hidden;
}

#SSM {
	top:20%;
	left:5%;
}

#ESG {
	top:20%;
	right:1%;
}

.saxPlayer{
	position:absolute;
	z-index: -1;
}

.note{
	position:absolute;
	z-index:  -1;
}

/* Codé pris à http://codepen.io/tumanova/pen/tkvmi NOT ORIGINAL CONTENT*/
.SSMbg {
  /* Old browsers */
  background: #ffe3c8;
  /* FF3.6+ */
  background: -moz-linear-gradient(-45deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffe3c8), color-stop(45%, #efad9e), color-stop(65%, #c79797), color-stop(85%, #a78a92), color-stop(100%, #857d8d));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(-45deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(-45deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
  /* IE10+ */
  background: -ms-linear-gradient(-45deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
  /* W3C */
  background: linear-gradient(135deg, #ffe3c8 0%, #efad9e 45%, #c79797 65%, #a78a92 85%, #857d8d 100%);
}

/*code généré par http://www.colorzilla.com/gradient-editor/*/
.ESGbg {
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 16%, #7db9e8 64%, #3e69e8 85%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(16%,#ffffff), color-stop(64%,#7db9e8), color-stop(85%,#3e69e8)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 16%,#7db9e8 64%,#3e69e8 85%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 16%,#7db9e8 64%,#3e69e8 85%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 16%,#7db9e8 64%,#3e69e8 85%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 16%,#7db9e8 64%,#3e69e8 85%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3e69e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	
}

#chat{
	opacity: 0.8;
	border-color: #EEEFFF;
	padding-top: 18px;
	padding-bottom: 15px;
	background-color: transparent;
}

#chat .row:nth-of-type(1){
	height:600px;
	padding-bottom: 15px;
}

#msgBox{
	border:none;
	height:100%;
}

#msgBox ul li{
	opacity: 1;
}

#usrBox{
	border:none;
	height:100%;
}

#btnBox{
	border:none;
}

#txtBox{
	border:none;
}